{% load static %}

<div class="order-data order-step" data-order-step="2">
                        <div class="order-data_form form">
                            <div class="order-data_item">
                                <div class="order-data_item__title">
                                    Укажите ваши данные
                                </div>
                                <div class="order-data_item__info">
                                    <label class="form_label">
                                        <input type="email" class="form_input" placeholder="Ваш email">
                                    </label>
                                </div>
                            </div>
                            <div class="order-data_item">
                                <div class="order-data_item__title">
                                    Способ оплаты
                                </div>
                                <div class="order-data_item__info">
                                    <label class="form_radio">
                                        <input type="radio" name="payment-type-bm" class="form_radio__input" checked>
                                        <span class="form_radio__value"></span>
                                        <span class="form_radio__title">Банковская карта</span>
                                    </label>
                                    <label class="form_radio">
                                        <input type="radio" name="payment-type-bm" class="form_radio__input">
                                        <span class="form_radio__value"></span>
                                        <span class="form_radio__title">Яндекс.Деньги</span>
                                    </label>
                                    <label class="form_radio">
                                        <input type="radio" name="payment-type-bm" class="form_radio__input">
                                        <span class="form_radio__value"></span>
                                        <span class="form_radio__title">Вариант 3</span>
                                    </label>
                                </div>
                            </div>
                            <div class="order-data_action">
                                <button class="order-product_btn btn btn--blue btn--arrow">
                                    Подтвердить покупку
                                </button>
                            </div>
                        </div>
                    </div>