{% load static %}
<div class="order-success order-step" data-order-step="3">
                        <div class="order-success_inner">
                            <div class="order-success_info">
                                <div class="order-success_title">
                                    Успешная покупка!
                                </div>
                                <div class="order-success_description">
                                    Вообще я принципиально не хотел писать тз,
                                    что бы у каждого была свобода действий,
                                    что в дизайне, что в текстах, что в структуре сайта,
                                    потому что я думаю что стандартный принцип работы магазина и его структура понятна
                                </div>
                            </div>
                            <div class="order-success_check">
                                <img src="{% static 'img/check.svg' %}" alt="check">
                            </div>
                        </div>
                        <div class="order-success_products">
                            <div class="order-success_products__title">
                                Посмотрите, что еще у нас есть:
                            </div>
                            <div class="order-success_products__slider success-slider">
                                <div class="success-slider_slider">
                                    <div class="success-slider_slide">
                                        <img src="http://via.placeholder.com/450x155" alt="product">
                                    </div>
                                    <div class="success-slider_slide">
                                        <img src="http://via.placeholder.com/450x155" alt="product">
                                    </div>
                                    <div class="success-slider_slide">
                                        <img src="http://via.placeholder.com/450x155" alt="product">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>