<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Лавка</title>

    <!-- Main Style -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="site">

    <div class="site_wrap">

        <!-- Header -->
        <header class="site_header">
            <div class="container">
                <div class="site_header__inner">
                    <a href="/" class="site_header__logo logo">
                        <span class="logo_title">
                            Лавка
                        </span>
                        <span class="logo_subtitle">
                            by Gost Target
                        </span>
                    </a>
                    <nav class="site_header__nav nav">
                        <div class="nav_btn" id="menu-toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="nav_list">
                            <div class="nav_item submenu ">
                                <a role="button" class="nav_item__link">
                                    Другое
                                </a>
                                <div class="submenu_block">
                                    <a href="#" class="submenu_item">
                                        <div class="submenu_item__title">
                                            Софт по уника <br/>
                                            -лизации крео
                                        </div>
                                        <div class="submenu_item__img">
                                            <img src="img/soft.svg" alt="soft">
                                        </div>
                                    </a>
                                    <a href="#" class="submenu_item">
                                        <div class="submenu_item__title">
                                            Рабочие <br/>
                                            связки
                                        </div>
                                        <div class="submenu_item__img">
                                            <img src="img/combination.svg" alt="combination">
                                        </div>
                                    </a>
                                    <a href="#" class="submenu_item">
                                        <div class="submenu_item__title">
                                            Промокоды на <br/>
                                            софт/сайты
                                        </div>
                                        <div class="submenu_item__img">
                                            <img src="img/promo.svg" alt="promo">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="nav_item submenu ">
                                <a role="button" class="nav_item__link">
                                    Эксклюзив
                                </a>
                                <div class="submenu_block">
                                    <a href="#" class="submenu_item">
                                        <div class="submenu_item__title">
                                            Приватные <br/>
                                            офферы
                                        </div>
                                        <div class="submenu_item__img">
                                            <img src="img/unlock.svg" alt="unlock">
                                        </div>
                                    </a>
                                    <a href="#" class="submenu_item">
                                        <div class="submenu_item__title">
                                            Прямые <br/>
                                            Рекламодатели
                                        </div>
                                        <div class="submenu_item__img">
                                            <img src="img/dialog.svg" alt="dialog">
                                        </div>
                                    </a>
                                    <a href="#" class="submenu_item">
                                        <div class="submenu_item__title">
                                            Помощь с доступом <br/>
                                            в приватные ПП
                                        </div>
                                        <div class="submenu_item__img">
                                            <img src="img/door.svg" alt="door">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="nav_item submenu nav-work-us ">
                                <a role="button" class="nav_item__link">
                                    Работа с нами
                                </a>
                                <div class="submenu_block">
                                    <a href="#" class="submenu_item">
                                        <div class="submenu_item__title">
                                            Платная консультация
                                        </div>
                                    </a>
                                    <a href="#" class="submenu_item">
                                        <div class="submenu_item__title">
                                            Услуги агенства
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="site_header__info">
                        <div class="site_header__work-us work-us">
                            <div class="work-us_title">
                                Работа с нами
                            </div>
                            <div class="work-us_list">
                                <a href="#" class="work-us_item">
                                    Платная консультация
                                </a>
                                <a href="#" class="work-us_item">
                                    Услуги агенства
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- /Header -->

        <!-- Main content -->
        <main class="site_main">

            <!-- Services -->
            <section class="sec-services">
                <div class="container">
                    <div class="sec-service_inner">
                        <div class="sec-services_head">
                            <h1 class="sec-services_title">
                                Услуги <br/>
                                Агенства
                            </h1>
                        </div>
                        <div class="sec-services_info services">
                            <div class="services_item">
                                <div class="services_item__info">
                                    <h2 class="services_item__title">
                                        Лендинги
                                    </h2>
                                    <div class="services_item__description">
                                        Только уникальные лендинги, никакого копирования с партнерок.
                                        Конверсия в лида настолько большая, что человек, случайно попавший на лендинг,
                                        закажет не только себе, но и всей своей семье.
                                    </div>
                                    <div class="services_item__slider">
                                        <div class="services-slider">
                                            <div class="services-slider_inner">
                                                <div class="services-slider_slide">
                                                    <img src="http://via.placeholder.com/670x350" alt="product">
                                                </div>
                                                <div class="services-slider_slide">
                                                    <img src="http://via.placeholder.com/670x350" alt="product">
                                                </div>
                                                <div class="services-slider_slide">
                                                    <img src="http://via.placeholder.com/670x350" alt="product">
                                                </div>
                                                <div class="services-slider_slide">
                                                    <img src="http://via.placeholder.com/670x350" alt="product">
                                                </div>
                                                <div class="services-slider_slide">
                                                    <img src="http://via.placeholder.com/670x350" alt="product">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="services_item__action">
                                        <button class="btn btn--blue btn--card modal-link" data-modal="modal-landing">
                                            Заказать
                                        </button>
                                    </div>
                                </div>
                                <div class="services_item__sub"></div>
                            </div>
                            <div class="services_item reverse">
                                <div class="services_item__sub"></div>
                                <div class="services_item__info">
                                    <h2 class="services_item__title">
                                        Крео
                                    </h2>
                                    <div class="services_item__description">
                                        Самый высокий ctr нашего объявления - 16%.
                                        Наши дизайнеры знают свою работу.
                                    </div>
                                    <div class="services_item__slider">
                                        <div class="services-slider">
                                            <div class="services-slider_inner">
                                                <div class="services-slider_slide">
                                                    <img src="http://via.placeholder.com/670x350" alt="product">
                                                </div>
                                                <div class="services-slider_slide">
                                                    <img src="http://via.placeholder.com/670x350" alt="product">
                                                </div>
                                                <div class="services-slider_slide">
                                                    <img src="http://via.placeholder.com/670x350" alt="product">
                                                </div>
                                                <div class="services-slider_slide">
                                                    <img src="http://via.placeholder.com/670x350" alt="product">
                                                </div>
                                                <div class="services-slider_slide">
                                                    <img src="http://via.placeholder.com/670x350" alt="product">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="services_item__action">
                                        <button class="btn btn--blue btn--card modal-link" data-modal="modal-creo">
                                            Заказать
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="services_item">
                                <div class="services_item__info">
                                    <h2 class="services_item__title">
                                        Преленды
                                    </h2>
                                    <div class="services_item__description">
                                        Мы сделаем так, что Малахов во всех чертах расскажет,
                                        почему нужно заказывать похудалку именно тут.
                                    </div>
                                    <div class="services_item__slider">
                                        <div class="services-slider">
                                            <div class="services-slider_inner">
                                                <div class="services-slider_slide">
                                                    <img src="http://via.placeholder.com/670x350" alt="product">
                                                </div>
                                                <div class="services-slider_slide">
                                                    <img src="http://via.placeholder.com/670x350" alt="product">
                                                </div>
                                                <div class="services-slider_slide">
                                                    <img src="http://via.placeholder.com/670x350" alt="product">
                                                </div>
                                                <div class="services-slider_slide">
                                                    <img src="http://via.placeholder.com/670x350" alt="product">
                                                </div>
                                                <div class="services-slider_slide">
                                                    <img src="http://via.placeholder.com/670x350" alt="product">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="services_item__action">
                                        <button class="btn btn--blue btn--card modal-link" data-modal="modal-preland">
                                            Заказать
                                        </button>
                                    </div>
                                </div>
                                <div class="services_item__sub"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /Services -->

        </main>
        <!-- /Main content -->

    </div>

    <div class="modal modal-order" id="modal-landing">
        <div class="modal_inner">
            <a role="button" class="modal_close">
                <i class="icon-close"></i>
            </a>
            <div class="modal_content">
                <div class="modal_steps">
                    <div class="modal_steps__title">
                        Шаг <span class="modal_steps__number"></span>
                    </div>
                    <div class="modal_steps__items">
                        <i class="modal_steps__items-value" data-order-step="1"></i>
                        <i class="modal_steps__items-value" data-order-step="2"></i>
                        <i class="modal_steps__items-value" data-order-step="3"></i>
                    </div>
                </div>
                <div class="modal_order order">
                    <div class="order-product order-step" data-order-step="1">
                        <div class="order-product_inner">
                            <div class="order-product_left order-product_left--border">
                                <div class="order-product_title">
                                    Лендинг
                                </div>
                                <div class="order-product_description">
                                    Только уникальные лендинги, никакого копирования с партнерок.
                                    Конверсия в лида настолько большая, что человек, случайно попавший на лендинг,
                                    закажет не только себе, но и всей своей семье.
                                </div>
                            </div>
                            <div class="order-product_form form">
                                <div class="order-product_form__title">
                                    Заполните заявку
                                </div>
                                <div class="order-product_form__inner">
                                    <div class="order-product_form__left">
                                        <label class="form_label">
                                            <input type="email" class="form_input" placeholder="Ваш email">
                                        </label>
                                        <label class="form_label">
                                            <input type="text" class="form_input" placeholder="Ваш телефон / ник">
                                        </label>
                                        <div class="social-radio">
                                            <div class="social-radio_list">
                                                <label class="social-radio_item">
                                                    <input type="radio" name="social" class="social-radio_item__input" checked>
                                                    <span class="social-radio_item__value"></span>
                                                    <span class="social-radio_item__icon">
                                                    <i class="icon-whatsapp"></i>
                                                </span>
                                                </label>
                                                <label class="social-radio_item">
                                                    <input type="radio" name="social" class="social-radio_item__input">
                                                    <span class="social-radio_item__value"></span>
                                                    <span class="social-radio_item__icon">
                                                    <i class="icon-telegram"></i>
                                                </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-product_form__right">
                                        <textarea name="message-landing" class="form_textarea" placeholder="Опишите подробности проекта"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="order-product_price">
                                <div class="order-product_price__title">
                                    Цена:
                                </div>
                                <div class="order-product_price__value">
                                    15'000 / 75'000 руб
                                </div>
                            </div>
                            <div class="order-product_action">
                                <button class="order-product_btn btn btn--blue">Подтвердить покупку</button>
                            </div>
                        </div>
                    </div>
                    <div class="order-data order-step" data-order-step="2">
                        <div class="order-data_form form">
                            <div class="order-data_item">
                                <div class="order-data_item__title">
                                    Способ оплаты
                                </div>
                                <div class="order-data_item__info">
                                    <label class="form_radio">
                                        <input type="radio" name="payment-type" class="form_radio__input" checked>
                                        <span class="form_radio__value"></span>
                                        <span class="form_radio__title">Банковская карта</span>
                                    </label>
                                    <label class="form_radio">
                                        <input type="radio" name="payment-type" class="form_radio__input">
                                        <span class="form_radio__value"></span>
                                        <span class="form_radio__title">Яндекс.Деньги</span>
                                    </label>
                                    <label class="form_radio">
                                        <input type="radio" name="payment-type" class="form_radio__input">
                                        <span class="form_radio__value"></span>
                                        <span class="form_radio__title">Вариант 3</span>
                                    </label>
                                </div>
                            </div>
                            <div class="order-data_item">
                                <div class="order-data_item__title">
                                    Данные карты
                                </div>
                            </div>
                            <div class="order-data_action">
                                <button class="order-product_btn btn btn--blue btn--arrow">
                                    Подтвердить покупку
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="order-success order-step" data-order-step="3">
                        <div class="order-success_inner">
                            <div class="order-success_info">
                                <div class="order-success_title">
                                    Успешная покупка!
                                </div>
                                <div class="order-success_description">
                                    Вообще я принципиально не хотел писать тз,
                                    что бы у каждого была свобода действий,
                                    что в дизайне, что в текстах, что в структуре сайта,
                                    потому что я думаю что стандартный принцип работы магазина и его структура понятна
                                </div>
                            </div>
                            <div class="order-success_check">
                                <img src="img/check.svg" alt="check">
                            </div>
                        </div>
                        <div class="order-success_products">
                            <div class="order-success_products__title">
                                Посмотрите, что еще у нас есть:
                            </div>
                            <div class="order-success_products__slider success-slider">
                                <div class="success-slider_slider">
                                    <div class="success-slider_slide">
                                        <img src="http://via.placeholder.com/450x155" alt="product">
                                    </div>
                                    <div class="success-slider_slide">
                                        <img src="http://via.placeholder.com/450x155" alt="product">
                                    </div>
                                    <div class="success-slider_slide">
                                        <img src="http://via.placeholder.com/450x155" alt="product">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-order" id="modal-creo">
        <div class="modal_inner">
            <a role="button" class="modal_close">
                <i class="icon-close"></i>
            </a>
            <div class="modal_content">
                <div class="modal_steps">
                    <div class="modal_steps__title">
                        Шаг <span class="modal_steps__number"></span>
                    </div>
                    <div class="modal_steps__items">
                        <i class="modal_steps__items-value" data-order-step="1"></i>
                        <i class="modal_steps__items-value" data-order-step="2"></i>
                        <i class="modal_steps__items-value" data-order-step="3"></i>
                    </div>
                </div>
                <div class="modal_order order">
                    <div class="order-product order-step" data-order-step="1">
                        <div class="order-product_inner">
                            <div class="order-product_left order-product_left--border">
                                <div class="order-product_title">
                                    Крео
                                </div>
                                <div class="order-product_description">
                                    Самый высокий ctr нашего объявления - 16%. Наши дизайнеры знают свою работу.
                                </div>
                            </div>
                            <div class="order-product_form form">
                                <div class="order-product_form__title">
                                    Заполните заявку
                                </div>
                                <div class="order-product_form__inner">
                                    <div class="order-product_form__left">
                                        <label class="form_label">
                                            <input type="email" class="form_input" placeholder="Ваш email">
                                        </label>
                                        <label class="form_label">
                                            <input type="text" class="form_input" placeholder="Ваш телефон / ник">
                                        </label>
                                        <div class="social-radio">
                                            <div class="social-radio_list">
                                                <label class="social-radio_item">
                                                    <input type="radio" name="social" class="social-radio_item__input" checked>
                                                    <span class="social-radio_item__value"></span>
                                                    <span class="social-radio_item__icon">
                                                    <i class="icon-whatsapp"></i>
                                                </span>
                                                </label>
                                                <label class="social-radio_item">
                                                    <input type="radio" name="social" class="social-radio_item__input">
                                                    <span class="social-radio_item__value"></span>
                                                    <span class="social-radio_item__icon">
                                                    <i class="icon-telegram"></i>
                                                </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-product_form__right">
                                        <textarea name="message-landing" class="form_textarea" placeholder="Опишите подробности проекта"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="order-product_price">
                                <div class="order-product_price__title">
                                    Цена:
                                </div>
                                <div class="order-product_price__value">
                                    15'000 / 75'000 руб
                                </div>
                            </div>
                            <div class="order-product_action">
                                <button class="order-product_btn btn btn--blue">Подтвердить покупку</button>
                            </div>
                        </div>
                    </div>
                    <div class="order-data order-step" data-order-step="2">
                        <div class="order-data_form form">
                            <div class="order-data_item">
                                <div class="order-data_item__title">
                                    Способ оплаты
                                </div>
                                <div class="order-data_item__info">
                                    <label class="form_radio">
                                        <input type="radio" name="payment-type" class="form_radio__input" checked>
                                        <span class="form_radio__value"></span>
                                        <span class="form_radio__title">Банковская карта</span>
                                    </label>
                                    <label class="form_radio">
                                        <input type="radio" name="payment-type" class="form_radio__input">
                                        <span class="form_radio__value"></span>
                                        <span class="form_radio__title">Яндекс.Деньги</span>
                                    </label>
                                    <label class="form_radio">
                                        <input type="radio" name="payment-type" class="form_radio__input">
                                        <span class="form_radio__value"></span>
                                        <span class="form_radio__title">Вариант 3</span>
                                    </label>
                                </div>
                            </div>
                            <div class="order-data_item">
                                <div class="order-data_item__title">
                                    Данные карты
                                </div>
                            </div>
                            <div class="order-data_action">
                                <button class="order-product_btn btn btn--blue btn--arrow">
                                    Подтвердить покупку
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="order-success order-step" data-order-step="3">
                        <div class="order-success_inner">
                            <div class="order-success_info">
                                <div class="order-success_title">
                                    Успешная покупка!
                                </div>
                                <div class="order-success_description">
                                    Вообще я принципиально не хотел писать тз,
                                    что бы у каждого была свобода действий,
                                    что в дизайне, что в текстах, что в структуре сайта,
                                    потому что я думаю что стандартный принцип работы магазина и его структура понятна
                                </div>
                            </div>
                            <div class="order-success_check">
                                <img src="img/check.svg" alt="check">
                            </div>
                        </div>
                        <div class="order-success_products">
                            <div class="order-success_products__title">
                                Посмотрите, что еще у нас есть:
                            </div>
                            <div class="order-success_products__slider success-slider">
                                <div class="success-slider_slider">
                                    <div class="success-slider_slide">
                                        <img src="http://via.placeholder.com/450x155" alt="product">
                                    </div>
                                    <div class="success-slider_slide">
                                        <img src="http://via.placeholder.com/450x155" alt="product">
                                    </div>
                                    <div class="success-slider_slide">
                                        <img src="http://via.placeholder.com/450x155" alt="product">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-order" id="modal-preland">
        <div class="modal_inner">
            <a role="button" class="modal_close">
                <i class="icon-close"></i>
            </a>
            <div class="modal_content">
                <div class="modal_steps">
                    <div class="modal_steps__title">
                        Шаг <span class="modal_steps__number"></span>
                    </div>
                    <div class="modal_steps__items">
                        <i class="modal_steps__items-value" data-order-step="1"></i>
                        <i class="modal_steps__items-value" data-order-step="2"></i>
                        <i class="modal_steps__items-value" data-order-step="3"></i>
                    </div>
                </div>
                <div class="modal_order order">
                    <div class="order-product order-step" data-order-step="1">
                        <div class="order-product_inner">
                            <div class="order-product_left order-product_left--border">
                                <div class="order-product_title">
                                    Преленды
                                </div>
                                <div class="order-product_description">
                                    Мы сделаем так, что Малахов во всех чертах расскажет, почему нужно заказывать похудалку именно тут.
                                </div>
                            </div>
                            <div class="order-product_form form">
                                <div class="order-product_form__title">
                                    Заполните заявку
                                </div>
                                <div class="order-product_form__inner">
                                    <div class="order-product_form__left">
                                        <label class="form_label">
                                            <input type="email" class="form_input" placeholder="Ваш email">
                                        </label>
                                        <label class="form_label">
                                            <input type="text" class="form_input" placeholder="Ваш телефон / ник">
                                        </label>
                                        <div class="social-radio">
                                            <div class="social-radio_list">
                                                <label class="social-radio_item">
                                                    <input type="radio" name="social" class="social-radio_item__input" checked>
                                                    <span class="social-radio_item__value"></span>
                                                    <span class="social-radio_item__icon">
                                                    <i class="icon-whatsapp"></i>
                                                </span>
                                                </label>
                                                <label class="social-radio_item">
                                                    <input type="radio" name="social" class="social-radio_item__input">
                                                    <span class="social-radio_item__value"></span>
                                                    <span class="social-radio_item__icon">
                                                    <i class="icon-telegram"></i>
                                                </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-product_form__right">
                                        <textarea name="message-landing" class="form_textarea" placeholder="Опишите подробности проекта"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="order-product_price">
                                <div class="order-product_price__title">
                                    Цена:
                                </div>
                                <div class="order-product_price__value">
                                    15'000 / 75'000 руб
                                </div>
                            </div>
                            <div class="order-product_action">
                                <button class="order-product_btn btn btn--blue">Подтвердить покупку</button>
                            </div>
                        </div>
                    </div>
                    <div class="order-data order-step" data-order-step="2">
                        <div class="order-data_form form">
                            <div class="order-data_item">
                                <div class="order-data_item__title">
                                    Способ оплаты
                                </div>
                                <div class="order-data_item__info">
                                    <label class="form_radio">
                                        <input type="radio" name="payment-type" class="form_radio__input" checked>
                                        <span class="form_radio__value"></span>
                                        <span class="form_radio__title">Банковская карта</span>
                                    </label>
                                    <label class="form_radio">
                                        <input type="radio" name="payment-type" class="form_radio__input">
                                        <span class="form_radio__value"></span>
                                        <span class="form_radio__title">Яндекс.Деньги</span>
                                    </label>
                                    <label class="form_radio">
                                        <input type="radio" name="payment-type" class="form_radio__input">
                                        <span class="form_radio__value"></span>
                                        <span class="form_radio__title">Вариант 3</span>
                                    </label>
                                </div>
                            </div>
                            <div class="order-data_item">
                                <div class="order-data_item__title">
                                    Данные карты
                                </div>
                            </div>
                            <div class="order-data_action">
                                <button class="order-product_btn btn btn--blue btn--arrow">
                                    Подтвердить покупку
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="order-success order-step" data-order-step="3">
                        <div class="order-success_inner">
                            <div class="order-success_info">
                                <div class="order-success_title">
                                    Успешная покупка!
                                </div>
                                <div class="order-success_description">
                                    Вообще я принципиально не хотел писать тз,
                                    что бы у каждого была свобода действий,
                                    что в дизайне, что в текстах, что в структуре сайта,
                                    потому что я думаю что стандартный принцип работы магазина и его структура понятна
                                </div>
                            </div>
                            <div class="order-success_check">
                                <img src="img/check.svg" alt="check">
                            </div>
                        </div>
                        <div class="order-success_products">
                            <div class="order-success_products__title">
                                Посмотрите, что еще у нас есть:
                            </div>
                            <div class="order-success_products__slider success-slider">
                                <div class="success-slider_slider">
                                    <div class="success-slider_slide">
                                        <img src="http://via.placeholder.com/450x155" alt="product">
                                    </div>
                                    <div class="success-slider_slide">
                                        <img src="http://via.placeholder.com/450x155" alt="product">
                                    </div>
                                    <div class="success-slider_slide">
                                        <img src="http://via.placeholder.com/450x155" alt="product">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="js/script.min.js"></script>
</body>
</html>