<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Лавка</title>

    <!-- Main Style -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="site">

<div class="site_wrap">

    <!-- Header -->
    <header class="site_header">
        <div class="container">
            <div class="site_header__inner">
                <a href="/" class="site_header__logo logo">
                        <span class="logo_title">
                            Лавка
                        </span>
                    <span class="logo_subtitle">
                            by Gost Target
                        </span>
                </a>
                <nav class="site_header__nav nav">
                    <div class="nav_btn" id="menu-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="nav_list">
                        <div class="nav_item submenu ">
                            <a role="button" class="nav_item__link">
                                Другое
                            </a>
                            <div class="submenu_block">
                                <a href="#" class="submenu_item">
                                    <div class="submenu_item__title">
                                        Софт по уника <br/>
                                        -лизации крео
                                    </div>
                                    <div class="submenu_item__img">
                                        <img src="img/soft.svg" alt="soft">
                                    </div>
                                </a>
                                <a href="#" class="submenu_item">
                                    <div class="submenu_item__title">
                                        Рабочие <br/>
                                        связки
                                    </div>
                                    <div class="submenu_item__img">
                                        <img src="img/combination.svg" alt="combination">
                                    </div>
                                </a>
                                <a href="#" class="submenu_item">
                                    <div class="submenu_item__title">
                                        Промокоды на <br/>
                                        софт/сайты
                                    </div>
                                    <div class="submenu_item__img">
                                        <img src="img/promo.svg" alt="promo">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="nav_item submenu ">
                            <a role="button" class="nav_item__link">
                                Эксклюзив
                            </a>
                            <div class="submenu_block">
                                <a href="#" class="submenu_item">
                                    <div class="submenu_item__title">
                                        Приватные <br/>
                                        офферы
                                    </div>
                                    <div class="submenu_item__img">
                                        <img src="img/unlock.svg" alt="unlock">
                                    </div>
                                </a>
                                <a href="#" class="submenu_item">
                                    <div class="submenu_item__title">
                                        Прямые <br/>
                                        Рекламодатели
                                    </div>
                                    <div class="submenu_item__img">
                                        <img src="img/dialog.svg" alt="dialog">
                                    </div>
                                </a>
                                <a href="#" class="submenu_item">
                                    <div class="submenu_item__title">
                                        Помощь с доступом <br/>
                                        в приватные ПП
                                    </div>
                                    <div class="submenu_item__img">
                                        <img src="img/door.svg" alt="door">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="nav_item submenu nav-work-us ">
                            <a role="button" class="nav_item__link">
                                Работа с нами
                            </a>
                            <div class="submenu_block">
                                <a href="#" class="submenu_item">
                                    <div class="submenu_item__title">
                                        Платная консультация
                                    </div>
                                </a>
                                <a href="#" class="submenu_item">
                                    <div class="submenu_item__title">
                                        Услуги агенства
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="site_header__info">
                    <div class="site_header__work-us work-us">
                        <div class="work-us_title">
                            Работа с нами
                        </div>
                        <div class="work-us_list">
                            <a href="#" class="work-us_item">
                                Платная консультация
                            </a>
                            <a href="#" class="work-us_item">
                                Услуги агенства
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- /Header -->

    <!-- Main content -->
    <main class="site_main">

        <!-- Consultation -->
        <section class="sec-consultation">
            <div class="container container--md">
                <div class="sec-consultation_inner">
                    <div class="sec-consultation_info">
                        <div class="sec-consultation_description">
                            <div class="sec-consultation_title">
                                Платная
                                консультация
                            </div>
                            <div class="sec-consultation_text">
                                Не нужно полное обучение, но в определенном месте возникли трудности?
                                Платная консультация - выше решение.
                                <span class="bolder">Поможем в решении Вашей проблемы</span> от начала и до конца.
                            </div>
                        </div>
                        <div class="sec-consultation_diagram diagram">
                            <div class="diagram_list">
                                <div class="diagram_item">
                                    Созвон в Skype
                                </div>
                                <div class="diagram_item">
                                    Подключение к <br/>
                                    Вашему компьютеру
                                </div>
                                <div class="diagram_item">
                                    Консультация <br/>
                                    в чате
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sec-consultation_images">
                        <div class="sec-consultation_images__item"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Consultation -->

    </main>
    <!-- /Main content -->

</div>

<!-- Scripts -->
<script src="js/script.min.js"></script>
</body>
</html>