<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Лавка</title>

    <!-- Main Style -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="site">

<div class="site_wrap">

    <!-- Header -->
    <header class="site_header">
        <div class="container">
            <div class="site_header__inner">
                <a href="/" class="site_header__logo logo">
                        <span class="logo_title">
                            Лавка
                        </span>
                    <span class="logo_subtitle">
                            by Gost Target
                        </span>
                </a>
                <nav class="site_header__nav nav">
                    <div class="nav_btn" id="menu-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="nav_list">
                        <div class="nav_item submenu ">
                            <a role="button" class="nav_item__link">
                                Другое
                            </a>
                            <div class="submenu_block">
                                <a href="#" class="submenu_item">
                                    <div class="submenu_item__title">
                                        Софт по уника <br/>
                                        -лизации крео
                                    </div>
                                    <div class="submenu_item__img">
                                        <img src="img/soft.svg" alt="soft">
                                    </div>
                                </a>
                                <a href="#" class="submenu_item">
                                    <div class="submenu_item__title">
                                        Рабочие <br/>
                                        связки
                                    </div>
                                    <div class="submenu_item__img">
                                        <img src="img/combination.svg" alt="combination">
                                    </div>
                                </a>
                                <a href="#" class="submenu_item">
                                    <div class="submenu_item__title">
                                        Промокоды на <br/>
                                        софт/сайты
                                    </div>
                                    <div class="submenu_item__img">
                                        <img src="img/promo.svg" alt="promo">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="nav_item submenu ">
                            <a role="button" class="nav_item__link">
                                Эксклюзив
                            </a>
                            <div class="submenu_block">
                                <a href="#" class="submenu_item">
                                    <div class="submenu_item__title">
                                        Приватные <br/>
                                        офферы
                                    </div>
                                    <div class="submenu_item__img">
                                        <img src="img/unlock.svg" alt="unlock">
                                    </div>
                                </a>
                                <a href="#" class="submenu_item">
                                    <div class="submenu_item__title">
                                        Прямые <br/>
                                        Рекламодатели
                                    </div>
                                    <div class="submenu_item__img">
                                        <img src="img/dialog.svg" alt="dialog">
                                    </div>
                                </a>
                                <a href="#" class="submenu_item">
                                    <div class="submenu_item__title">
                                        Помощь с доступом <br/>
                                        в приватные ПП
                                    </div>
                                    <div class="submenu_item__img">
                                        <img src="img/door.svg" alt="door">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="nav_item submenu nav-work-us ">
                            <a role="button" class="nav_item__link">
                                Работа с нами
                            </a>
                            <div class="submenu_block">
                                <a href="#" class="submenu_item">
                                    <div class="submenu_item__title">
                                        Платная консультация
                                    </div>
                                </a>
                                <a href="#" class="submenu_item">
                                    <div class="submenu_item__title">
                                        Услуги агенства
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="site_header__info">
                    <div class="site_header__work-us work-us">
                        <div class="work-us_title">
                            Работа с нами
                        </div>
                        <div class="work-us_list">
                            <a href="#" class="work-us_item">
                                Платная консультация
                            </a>
                            <a href="#" class="work-us_item">
                                Услуги агенства
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- /Header -->

    <!-- Main content -->
    <main class="site_main">

        <!-- Catalog -->
        <section class="sec-catalog">
            <div class="container container--sm">
                <div class="sec-catalog_inner">
                    <div class="sec-catalog_info">
                        <div class="sec-catalog_title">
                            Прямые
                            Реклы
                        </div>
                        <div class="sec-catalog_description">
                           <p>
                               У нас есть уникальная услуга - прямые рекламодатели.
                               1000 контактов, с которыми ты можешь начать работать прямо сейчас.
                           </p>
                            <p>
                                У тебя не будет привычной связки: байер-cpa сеть - рекламодатель.
                                Вместо этого она сократится до: байер - рекламодатель.
                                Соответственно все вопросы будут решаться в разы быстрее,
                                что следовательно даст тебе больше времени для работы над трафиком.
                            </p>
                        </div>
                    </div>
                    <div class="sec-catalog_products products">
                        <div class="products_list">
                            <div class="products_card">
                                <div class="products_card__img">
                                    <img src="http://via.placeholder.com/180x190" alt="product">
                                </div>
                                <div class="products_card__info">
                                    <div class="products_card__title">
                                        Рекл
                                    </div>
                                    <div class="products_card__description">
                                        Вообще я принципиально не хотел писать тз,
                                        что бы у каждого была свобода действий,
                                        что в дизайне, что
                                        в текстах, что в структуре сайта,
                                        потому что я думаю что стандартный принцип работы магазина
                                        и его структура понятна всем, и если накидаю ее макет,
                                        то вы там не увидите ничего нового или экспериментального
                                    </div>
                                    <div class="products_card__action">
                                        <a href="#" class="btn btn--blue modal-link" data-modal="modal-rekl">
                                            Текст
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="products_card">
                                <div class="products_card__img">
                                    <img src="http://via.placeholder.com/180x190" alt="product">
                                </div>
                                <div class="products_card__info">
                                    <div class="products_card__title">
                                        Рекл
                                    </div>
                                    <div class="products_card__description">
                                        Вообще я принципиально не хотел писать тз,
                                        что бы у каждого была свобода действий,
                                        что в дизайне, что
                                        в текстах, что в структуре сайта,
                                        потому что я думаю что стандартный принцип работы магазина
                                        и его структура понятна всем, и если накидаю ее макет,
                                        то вы там не увидите ничего нового или экспериментального
                                    </div>
                                    <div class="products_card__action">
                                        <a href="#" class="btn btn--blue modal-link" data-modal="modal-rekl">
                                            Текст
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="products_card">
                                <div class="products_card__img">
                                    <img src="http://via.placeholder.com/180x190" alt="product">
                                </div>
                                <div class="products_card__info">
                                    <div class="products_card__title">
                                        Рекл
                                    </div>
                                    <div class="products_card__description">
                                        Вообще я принципиально не хотел писать тз,
                                        что бы у каждого была свобода действий,
                                        что в дизайне, что
                                        в текстах, что в структуре сайта,
                                        потому что я думаю что стандартный принцип работы магазина
                                        и его структура понятна всем, и если накидаю ее макет,
                                        то вы там не увидите ничего нового или экспериментального
                                    </div>
                                    <div class="products_card__action">
                                        <a href="#" class="btn btn--blue modal-link" data-modal="modal-rekl">
                                            Текст
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="products_card">
                                <div class="products_card__img">
                                    <img src="http://via.placeholder.com/180x190" alt="product">
                                </div>
                                <div class="products_card__info">
                                    <div class="products_card__title">
                                        Рекл
                                    </div>
                                    <div class="products_card__description">
                                        Вообще я принципиально не хотел писать тз,
                                        что бы у каждого была свобода действий,
                                        что в дизайне, что
                                        в текстах, что в структуре сайта,
                                        потому что я думаю что стандартный принцип работы магазина
                                        и его структура понятна всем, и если накидаю ее макет,
                                        то вы там не увидите ничего нового или экспериментального
                                    </div>
                                    <div class="products_card__action">
                                        <a href="#" class="btn btn--blue modal-link" data-modal="modal-rekl">
                                            Текст
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="products_card">
                                <div class="products_card__img">
                                    <img src="http://via.placeholder.com/180x190" alt="product">
                                </div>
                                <div class="products_card__info">
                                    <div class="products_card__title">
                                        Рекл
                                    </div>
                                    <div class="products_card__description">
                                        Вообще я принципиально не хотел писать тз,
                                        что бы у каждого была свобода действий,
                                        что в дизайне, что
                                        в текстах, что в структуре сайта,
                                        потому что я думаю что стандартный принцип работы магазина
                                        и его структура понятна всем, и если накидаю ее макет,
                                        то вы там не увидите ничего нового или экспериментального
                                    </div>
                                    <div class="products_card__action">
                                        <a href="#" class="btn btn--blue modal-link" data-modal="modal-rekl">
                                            Текст
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="products_card">
                                <div class="products_card__img">
                                    <img src="http://via.placeholder.com/180x190" alt="product">
                                </div>
                                <div class="products_card__info">
                                    <div class="products_card__title">
                                        Рекл
                                    </div>
                                    <div class="products_card__description">
                                        Вообще я принципиально не хотел писать тз,
                                        что бы у каждого была свобода действий,
                                        что в дизайне, что
                                        в текстах, что в структуре сайта,
                                        потому что я думаю что стандартный принцип работы магазина
                                        и его структура понятна всем, и если накидаю ее макет,
                                        то вы там не увидите ничего нового или экспериментального
                                    </div>
                                    <div class="products_card__action">
                                        <a href="#" class="btn btn--blue modal-link" data-modal="modal-rekl">
                                            Текст
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="products_card">
                                <div class="products_card__img">
                                    <img src="http://via.placeholder.com/180x190" alt="product">
                                </div>
                                <div class="products_card__info">
                                    <div class="products_card__title">
                                        Рекл
                                    </div>
                                    <div class="products_card__description">
                                        Вообще я принципиально не хотел писать тз,
                                        что бы у каждого была свобода действий,
                                        что в дизайне, что
                                        в текстах, что в структуре сайта,
                                        потому что я думаю что стандартный принцип работы магазина
                                        и его структура понятна всем, и если накидаю ее макет,
                                        то вы там не увидите ничего нового или экспериментального
                                    </div>
                                    <div class="products_card__action">
                                        <a href="#" class="btn btn--blue modal-link" data-modal="modal-rekl">
                                            Текст
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="products_card">
                                <div class="products_card__img">
                                    <img src="http://via.placeholder.com/180x190" alt="product">
                                </div>
                                <div class="products_card__info">
                                    <div class="products_card__title">
                                        Рекл
                                    </div>
                                    <div class="products_card__description">
                                        Вообще я принципиально не хотел писать тз,
                                        что бы у каждого была свобода действий,
                                        что в дизайне, что
                                        в текстах, что в структуре сайта,
                                        потому что я думаю что стандартный принцип работы магазина
                                        и его структура понятна всем, и если накидаю ее макет,
                                        то вы там не увидите ничего нового или экспериментального
                                    </div>
                                    <div class="products_card__action">
                                        <a href="#" class="btn btn--blue modal-link" data-modal="modal-rekl">
                                            Текст
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Catalog -->

    </main>
    <!-- /Main content -->

</div>

<div class="modal modal-order" id="modal-rekl">
    <div class="modal_inner">
        <a role="button" class="modal_close">
            <i class="icon-close"></i>
        </a>
        <div class="modal_content">
            <div class="modal_steps">
                <div class="modal_steps__title">
                    Шаг <span class="modal_steps__number"></span>
                </div>
                <div class="modal_steps__items">
                    <i class="modal_steps__items-value" data-order-step="1"></i>
                    <i class="modal_steps__items-value" data-order-step="2"></i>
                    <i class="modal_steps__items-value" data-order-step="3"></i>
                </div>
            </div>
            <div class="modal_order order">
                <div class="order-product order-step" data-order-step="1">
                    <div class="order-product_inner">
                        <div class="order-product_left">
                            <div class="order-product_title">
                                Рекл
                            </div>
                            <div class="order-product_description">
                                Вообще я принципиально не хотел писать тз, что бы у каждого была свобода действий,
                                что в дизайне, что в текстах, что в структуре сайта,
                                потому что я думаю что стандартный принцип работы магазина и его структура понятна всем,
                                и если накидаю ее макет, то вы там не увидите ничего нового или экспериментального
                            </div>
                            <div class="order-product_form form">
                                <div class="order-product_form__title">
                                    Заполните заявку
                                </div>
                                <label class="form_label">
                                    <input type="email" class="form_input" placeholder="Ваш email">
                                </label>
                                <label class="form_label">
                                    <input type="text" class="form_input" placeholder="Ваш телефон / ник">
                                </label>
                                <div class="social-radio">
                                    <div class="social-radio_list">
                                        <label class="social-radio_item">
                                            <input type="radio" name="social-product1" class="social-radio_item__input" checked>
                                            <span class="social-radio_item__value"></span>
                                            <span class="social-radio_item__icon">
                                                    <i class="icon-whatsapp"></i>
                                                </span>
                                        </label>
                                        <label class="social-radio_item">
                                            <input type="radio" name="social-product1" class="social-radio_item__input">
                                            <span class="social-radio_item__value"></span>
                                            <span class="social-radio_item__icon">
                                                    <i class="icon-telegram"></i>
                                                </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="order-product_price">
                                <div class="order-product_price__title">
                                    Цена:
                                </div>
                                <div class="order-product_price__value">
                                    1'500руб
                                </div>
                            </div>
                            <div class="order-product_action">
                                <button class="order-product_btn btn btn--blue btn--card">Купить</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-data order-step" data-order-step="2">
                    <div class="order-data_form form">
                        <div class="order-data_item">
                            <div class="order-data_item__title">
                                Способ оплаты
                            </div>
                            <div class="order-data_item__info">
                                <label class="form_radio">
                                    <input type="radio" name="payment-type-product1" class="form_radio__input" checked>
                                    <span class="form_radio__value"></span>
                                    <span class="form_radio__title">Банковская карта</span>
                                </label>
                                <label class="form_radio">
                                    <input type="radio" name="payment-type-product1" class="form_radio__input">
                                    <span class="form_radio__value"></span>
                                    <span class="form_radio__title">Яндекс.Деньги</span>
                                </label>
                                <label class="form_radio">
                                    <input type="radio" name="payment-type-product1" class="form_radio__input">
                                    <span class="form_radio__value"></span>
                                    <span class="form_radio__title">Вариант 3</span>
                                </label>
                            </div>
                        </div>
                        <div class="order-data_item">
                            <div class="order-data_item__title">
                                Данные карты
                            </div>
                        </div>
                        <div class="order-data_action">
                            <button class="order-product_btn btn btn--blue btn--arrow">
                                Подтвердить покупку
                            </button>
                        </div>
                    </div>
                </div>
                <div class="order-success order-step" data-order-step="3">
                    <div class="order-success_inner">
                        <div class="order-success_info">
                            <div class="order-success_title">
                                Успешная покупка!
                            </div>
                            <div class="order-success_description">
                                Вообще я принципиально не хотел писать тз,
                                что бы у каждого была свобода действий,
                                что в дизайне, что в текстах, что в структуре сайта,
                                потому что я думаю что стандартный принцип работы магазина и его структура понятна
                            </div>
                        </div>
                        <div class="order-success_check">
                            <img src="img/check.svg" alt="check">
                        </div>
                    </div>
                    <div class="order-success_products">
                        <div class="order-success_products__title">
                            Посмотрите, что еще у нас есть:
                        </div>
                        <div class="order-success_products__slider success-slider">
                            <div class="success-slider_slider">
                                <div class="success-slider_slide">
                                    <img src="http://via.placeholder.com/450x155" alt="product">
                                </div>
                                <div class="success-slider_slide">
                                    <img src="http://via.placeholder.com/450x155" alt="product">
                                </div>
                                <div class="success-slider_slide">
                                    <img src="http://via.placeholder.com/450x155" alt="product">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="js/script.min.js"></script>
</body>
</html>